.modal__close {
  position: absolute;
  top: -36px;
  right: 0;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: url(./../../../images/icon-close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity .2s ease;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  opacity: .6;
}

@media screen and (min-width: 619px) {
  .modal__close {
    width: 32px;
    height: 32px;

    top: -40px;
    right: -40px;
  }
}
