.form__text-input {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 5px;

  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__text-input:first-of-type {
  margin-top: 16px;
}

.form__text-input::placeholder {
  color: #C4C4C4;
}

/* Change default focus decoration */
.form__text-input:focus {
  outline: 0;
  border-color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 619px) {
  .form__text-input:first-of-type {
    margin-top: 36px;
  }
}
