.content__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 619px) {
  .content__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
