.element__like-button {
  width: 22px;
  height: 19px;
  padding: 0;

  border: 0;
  background-color: transparent;
  background-image: url(./../../../images/icon-like--disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
  transition: opacity .2s ease;
}

.element__like-button:hover,
.element__like-button:focus {
  opacity: .5;
}
